@import '../../../scss/settings';
@import '../../../scss/transition';

// --- Transition --- //
/* .fade {
    @include transition($transition-fade);

    &:not(.show) {
      opacity: 0;
    }
  }

  .collapse {
    &:not(.show) {
      display: none;
    }
  }

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    @include transition($transition-collapse);
  } */
// ------------------ //

$sidenav-width: 85vw;
$menu-height: 64px;
$submenu-height: 42px;
$duration:0.45s;

.hrx-sidenav-root {
    display: flex;
    padding-top: 120px;
}
.hrx-sidenav-drawer {
    flex-shrink: 0;
    white-space: nowrap;
    // position: fixed;
    // top:0px;
    // bottom: 0px;
    // left:0px;



    .hrx-sidenav-paper {
        @include bg-gradient-three(180deg, darken($hrx-sidenav-top-color, 0), lighten($hrx-sidenav-top-color, 7), darken($hrx-sidenav-top-color, 15));
        width: $sidenav-width;
        max-width: 280px;
        min-height: 100vh;
        overflow: visible;
        transition: width .45s ease;
        box-shadow: 5px 0 7px 0 rgba(0, 0, 0, 0.25);

        @media(max-width: $mobile){
            transition: width .25s ease;
        }

        &.sidenav-min{

            width:64px;
            box-shadow: none;
            @media(max-width: $mobile){
                width:0px;
                left: -1px;
            }
          }

          &.sidenav-max{
            width: $sidenav-width;
            max-width: 280px;
            left: 0px;


            @media(max-width: $mobile){
                width: $sidenav-width;
                max-width: 400px;
            }
          }

        .hrx-sidemenu-wrapper {
            display: flex;
            flex-direction: column;
            width:100%;
            // max-height: 90vh;
            // height: 90vh;
            // overflow-y: scroll;
            padding-top: 30px;


            ul.hrx-nav {
                display: flex;
                flex-wrap: wrap;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                margin-top: 0;
                width:100%;

                &.hrx-nav-mini {
                        > li {
                            overflow: visible;
                            > a {
                                width:64px;

                                justify-content: center;

                                padding:0px;
                                .ico {
                                    width: 32px;
                                    height: 32px;
                                }
                                span {
                                    display: none;
                                }
                                .arrow {
                                    display: none;
                                }

                                &.active {
                                     left: 64px;

                                     .nav-second-level{
                                        left: 65px;
                                     }
                                }
                            }

                            ul.nav-second-level {
                                position: absolute;
                                left: 64px;
                                top: 0;
                                background-color: #2f4050;
                                padding: 10px 10px 10px 10px;
                                font-size: 12px;
                                width:216px;

                                li {
                                    a{
                                        padding: 10px 10px 10px 15px;
                                    }
                                }
                            }

                        }

                }


                > li {
                    display: block;
                    width: 100%;
                    position: relative;
                    text-align: left;
                    transition: height $duration ease, opaciity $duration ease, background-color $duration ease, border-left $duration ease;


                    &.primary{
                        // border-top: 1px solid rgba(255, 255, 255, .2);
                        &:last-child {
                            // border-bottom: 1px solid rgba(255, 255, 255, .2);
                        }
                    }



                    &.active {
                        border-top: 1px solid rgba(255, 255, 255, .4);
                        border-bottom: 1px solid rgba(255, 255, 255, .4);
                        // border-left: 4px solid lighten($hrx-light-blue,40);



                        // border-left: 4px solid lighten($hrx-light-blue,40);
                        background-color: darken($hrx-light-blue, 5);

                        a {
                            color: #ffffff;

                        }
                    }
                    a {
                        cursor: pointer;
                        color: #ffffff;
                        font-weight: 400;
                        padding: 14px 20px 14px 25px;
                        display: block;
                        text-decoration: none;
                        background-color: transparent;
                        min-height: $menu-height;
                        display: flex;
                        align-items: center;
                        position: relative;

                        .ico {
                            width: 24px;
                            height: 24px;
                        }

                        .arrow{
                            position: absolute;
                            top:24px;
                            right:10px;
                            transition: transform $duration ease;
                            &.open {
                                transform: rotate(90deg);
                            }
                        }




                        span {
                            margin-left: 10px;

                        }

                    }
                }

                &.nav-second-level{
                    background: darken($hrx-light-blue, 5);
                    overflow: hidden;
                    transition: height $duration ease, opacity $duration ease;


                    > li {
                        display: list-item;
                        border-bottom: none !important;
                        // border-bottom: 1px solid #666;
                        min-height: $submenu-height;

                        &:first-child{
                            border-top: 1px solid rgba(255, 255, 255, .2);

                        }

                        a {
                            padding: 7px 10px 7px 10px;
                            padding-left: 52px;

                            &:hover{
                                background-color: darken($hrx-light-blue, 10);
                            }
                        }
                        &.active {
                            border: none;
                          }

                        &:last-child {
                            padding-bottom: 10px;
                        }
                    }
                }
                &.collapse{
                    // display: none;
                    opacity: 0;

                }
                &.collapsing{
                    position: relative;
                    height: 0;
                    overflow: hidden;

                }
                &.in {
                    height: auto;
                    display: block;

                }


            }

            .hrx-sidemenu-level-1-menu-list{
                font-size: 13px;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
            }
        }


    }
}

